.total__container {
  width: 100%;
  min-height: 420px;
  height: auto;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  position: relative;
  padding-top: 86px;
  background-color: #ddf3eb;
}
.totalanalyze {
  display: flex;
}
.subtop__container {
  text-align: center;
}
.sub-first-main-text {
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sub-first-main-text span {
  color: #04aa6d;
  font-family: "Inter";
}
.sub-second-main-text {
  margin: auto;
  margin-top: 1rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 60%;
}
.subtop__third_container {
  text-align: center;
  padding: 40px;
  padding-bottom: 0;
  justify-content: center;
  display: flex;
}
.subtop-playicon {
  font-size: 2rem;
}
.subtop-startshop {
  background-color: #04aa6d;
  color: white;
  border: none;
  outline: none;
  padding: 8px 30px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.subtop-startshop:hover {
  background-color: #0bc480;
  border-color: #0bc480;
}
.subtopplaytext {
  margin: auto 25px;
}
.subtopplaytext:hover {
  cursor: pointer;
}
.subtopplaytext span {
  margin-left: 15px;
  font-family: "InterBold";
  color: #000;
  font-size: 19px;
  font-style: normal;
  line-height: normal;
}
.subtopplaytext svg {
  transition: all 0.3s ease-in-out;
}
.subtopplaytext:hover svg {
  transform: scale(1.1);
}
.subtop-orderprocess {
  color: black;
}
.subtopimg {
  text-align: center;
  justify-content: center;
}
.subtopimg-common {
  width: 230px;
  margin: -45px 15px 0px 15px;
  height: 230px;
  border-radius: 3%;
  box-shadow: -8px -6px 0px rgb(167 243 208);
}
.subtopimg2 {
  margin-top: 30px;
}
.subtopimg1 {
  margin-top: 110px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
@media screen and (max-width: 1024px) {
  .subtopimg1 {
    margin-top: 120px;
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
  }
  .subtopimg3 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media screen and (max-width: 860px) {
  .subtop__third_container {
    display: flow-root;
  }
  .subtopplaytext {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1330px) {
  .totalanalyze {
    display: grid;
  }
}
