.topcategory__bar__container {
  height: auto;
  width: 250px;
  margin: auto;
  display: flex;
  position: relative;
  z-index: 1000;
}

.topcategory__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 50px;
}
.category-dropdown {
  position: relative;
  display: inline-block;
}

.category-dropbtn {
  color: white;
  padding: 12px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.category-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  left: 13px;
}

.category-dropdown:hover .category-dropdown-content {
  transform: translateY(0);
  opacity: 1;
  display: block;
}

.category-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
  width: 100%;
  font-size: 12px;
}


.category-dropdown-content a:hover {
  background-color: #eaeee9;
}

.category-dropbtn i {
  margin-left: 5px;
  transition: transform 0.3s ease;
  display: inline-block;
}
