.top__sidebar {
  padding: 10px 30px;
  font-size: 18px;
  display: flex;
}

.top__sidebar span:last-child {
  margin-right: 0;
  padding: 1px 10px;
}
.subtopgt {
  width: 5px;
  padding: 5px 25px 5px 5px;
}
.subtopsecond {
  font-family: "InterBold";
  padding: 2px 25px;
  background: #f1f1f1;
  border-radius: 3px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.subtopfirst {
  align-self: center;
  color: #676767;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subtopfirst:hover {
  cursor: pointer;
}
.subtotaltop {
  display: flex;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .top__sidebar {
    padding: 8px;
  }

  .top__sidebar span {
    margin-right: 3px;
  }
}
